.middle .center {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.center .centerUpside {
  margin: 30px 25px;
  border: 1px solid rgb(221, 218, 218);
  border-radius: 5px;
  padding: 35px 28px;
  background-color: white;
}
.center .centerUpside .centerMain {
  font-size: 25px;
  line-height: 30px;
  font-weight: 550;
  margin-bottom: 10px;
  color: rgb(31, 30, 30);
}
.center .centerUpside .centerSub {
  line-height: 23px;
}
.center .centerUpside .centerSub a,
.center .centerUpside .centerSub a:active {
  text-decoration: none;
  color: #0366d6;
}
.center .centerUpside .centerSub a:hover {
  text-decoration: underline;
}
.center .centerUpside button {
  all: unset;
  color: #0366d6;
  margin-top: 15px;
  border: 1px solid rgb(221, 218, 218);
  padding: 8px 13px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(246, 248, 250);
  cursor: pointer;
}
.center .centerUpside button:hover {
  background-color: #0366d6;
  color: white;
}

.center .centerDownside {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-self: self-end;
}
.center .centerDownside .centerDown_up {
  margin-bottom: 80px;
  font-size: 12px;
  line-height: 30px;
  color: rgb(80, 79, 79);
}
.center .centerDownside .centerDown_up .fa-lightbulb {
  font-size: 17px;
  margin-right: 2px;
}
.center .centerDownside .centerDown_up .fa-wifi {
  font-style: i;
  transform: rotate(45deg);
}

.center .centerDownside .centerDown_down {
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.center .centerDownside .centerDown_down .willGone {
  position: relative;
  left: -20px;
  display: flex;
  align-items: center;
  color: rgb(128, 127, 127);
  font-size: 12px;
}
.center .centerDownside .centerDown_down .willGone > i {
  margin-right: 10px;
  font-size: 24px;
  color: rgb(207, 205, 205);
}
.center .centerDownside .centerDown_down span > ul {
  font-size: 12px;
  color: rgb(88, 87, 87);
  line-height: 20px;
}
