:root {
  /* color */
  --white: white;
  --bgcolor: #2c3e50;
}
h1,
h4 {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body {
  background-color: var(--bgcolor);
}
.clock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clock h1 {
  /* 시계 */
  color: var(--white);
  margin-bottom: 20px;
  font-size: 10em;
}
.clock .greetings {
  font-size: 2em;
  color: var(--white);
}

form {
  margin: 5px 0;
}
.form,
.greetings,
.form {
  display: none;
}
.showing {
  display: block;
}
input {
  border: 0;
  background: none;
  appearance: none;
  font-size: 22px;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
input::placeholder {
  font-size: 20px;
  color: var(--white);
}
input:focus,
input:active {
  outline: none;
}

.weather {
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
  color: var(--white);
  position: absolute;
  right: 10px;
  top: 10px;
  font-style: italic;
  font-size: 12px;
}
.weather:hover {
  opacity: 1;
}

.todo {
  font-size: 22px;
  padding: 0;
}
.todo .list {
  margin-bottom: 20px;
}
.todo .list span {
  color: var(--white);
}

.delBtn {
  margin-right: 10px;
  border: none;
  cursor: pointer; /* 마우스 포인터를 손 모양으로 */
  outline: none;
  color: red;
  font-size: 1em;
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
