:root {
  --red: rgb(229, 9, 20);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: black;
  color: white;
}

/* Header */
header {
  height: 780px;
  position: relative;
  background: url("../img/background.jpg") no-repeat center center / cover;
  border-bottom: 7px solid rgba(44, 43, 43, 1);
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 120px #000;
}
.headerUp {
  position: absolute;
  display: flex;
  height: 5.3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.headerUp img {
  height: 3rem;
  margin-left: 2rem;
}
.headerUp a {
  background-color: var(--red);
  font-size: 1rem;
  margin-right: 3em;
  padding: 0.4em 1em;
  border: none;
  border-radius: 3px;
}

.headerDown {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.headerDown h1 {
  max-width: 450px;
  font-size: 3rem;
  margin: 0 5rem;
  text-align: center;
}
.headerDown h2 {
  margin: 1rem 0;
  max-width: 570px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.headerDown form {
  display: flex;
  width: 40rem;
  height: 3.6rem;
}
.headerDown form .email {
  display: inline-block;
  position: relative;
}
.headerDown form .email input {
  width: 25rem;
  height: 100%;
}
.headerDown form .email span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.6em;
  color: #999;
  font-size: 1em;
  cursor: default;
}
.headerDown form button {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: var(--red);
  border: none;
  color: white;
  font-size: 1.5em;
}
.headerDown p {
  margin-top: 0.8em;
  font-size: 1.1rem;
}

/* Display Section */
.displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.display {
  height: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 7px solid rgba(44, 43, 43, 1);
}
.display:nth-child(even) {
  height: 450px;
}
.display:nth-child(even) > img {
  order: 1;
}
.display:nth-child(even) > .displayInfo {
  order: 2;
}
.display .displayInfo {
  width: 30em;
  margin: 3em;
}

.displays img {
  width: 30em;
}

/* Accordion Section */
.accordionSection {
  padding: 0 15%;
  padding-bottom: 4rem;
  border-bottom: 7px solid rgba(44, 43, 43, 1);
}
.accordionSection > .fontBig {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.accordion {
  display: flex;
  max-width: 50rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.accordion .title {
  display: block;
  position: relative;
  padding: 0.8em;
  padding-left: 1.3em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 1px;
  background: #303030;
  cursor: pointer;
}
.accordion .title > i {
  position: absolute;
  right: 1.2em;
  top: 50%;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  max-height: 0;
  transition: max-height 0.25s;
  overflow: hidden;
  background: #303030;
}
.accordion .content .contentInsider {
  position: relative;
  padding: 1.4em 1.3em;
}
/* after click */
.accordion .clicked i {
  transform: translateY(-50%) rotateZ(45deg);
}
.accordion .clicked + .content {
  max-height: 1200px;
  overflow: visible;
}
.accordionSection form {
  display: flex;
  margin: 0 auto;
  margin-top: 4em;
  width: 40rem;
  height: 3.6rem;
}
.accordionSection form .email {
  display: inline-block;
  position: relative;
}
.accordionSection form .email input {
  width: 25rem;
  height: 100%;
}
.accordionSection form .email span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.6em;
  color: #999;
  font-size: 1em;
  cursor: default;
}
.accordionSection form button {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: var(--red);
  border: none;
  color: white;
  font-size: 1.5em;
}
.accordionSection p {
  margin-top: 0.8em;
  font-size: 1.1rem;
  text-align: center;
}

/* Footer */
footer {
  height: 65%;
  color: rgb(117, 117, 117);
  margin: 0 auto;
}
footer .inFooter {
  width: 1000px;
  padding-top: 5em;
  margin: 0 auto;
}
footer .footerQ {
  margin-bottom: 2em;
}
footer .footerList {
  list-style: none;
  max-width: 1000px;
}
footer .footerList li {
  display: inline-block;
  margin-bottom: 1rem;
  padding-right: 12px;
  font-size: 13px;
  min-width: 100px;
  width: 24%;
}

footer #lang {
  margin: 2em 0;
  background-color: black;
  color: rgb(117, 117, 117);
  height: 53px;
  width: 132px;
}

footer .company {
  font-size: 13px;
}

.fontBig {
  font-size: 3rem;
  font-weight: bold;
}
.fontSmall {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}
