html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
.sliderWindow {
  margin: 0 auto;
  width: 920px;
  overflow: hidden;
  background-color: rgb(198, 240, 136);
  display: flex;
}
.left,
.right {
  z-index: 1;
  position: absolute;
  height: 614px;
  width: 10%;
  cursor: pointer;
  opacity: 0;
}
.left:hover,
.right:hover {
  opacity: 40%;
  border: none;
  background-color: black;
  color: white;
}
.left:active,
.right:active {
  all: unset;
}
.right {
  right: 74.5px;
}
.sliderWindow img {
  position: absolute;
  opacity: 0;
}
.sliderWindow .show {
  opacity: 1;
  transition: all 1s ease-in-out;
}
