html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
.canvas {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.left,
.right {
  position: absolute;
  width: 10%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.left:hover,
.right:hover {
  opacity: 40%;
  border: none;
  background-color: black;
  color: white;
}
.left {
  left: 20%;
  height: 100%;
}
.right {
  right: 20%;
  height: 100%;
}
img {
  display: none;
}
.show {
  display: block;
  animation: fade-in 1s;
  width: 60%;
}
.canvas ul {
  list-style: none;
  position: absolute;
  display: flex;
  padding: 0;
}
.canvas ul li {
  margin: 0 2px;
  height: 0px; /* 이벤트 위임에서 li를 클릭할 수 없도록 높이 0으로 설정*/
}
.canvas ul li button {
  all: unset;
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: grey;
  opacity: 50%;
  cursor: pointer;
}
.canvas ul li .select {
  background-color: black;
  border-color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
