html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}

.left,
.right {
  z-index: 1;
  position: absolute;
  width: 10%;
  height: 60px;
  top: 50%;
  cursor: pointer;
  opacity: 0;
}
.left:hover,
.right:hover {
  opacity: 40%;
  border: none;
  background-color: black;
  color: white;
}
.left:active,
.right:active {
  all: unset;
}
.left {
  left: 20%;
}
.right {
  right: 20%;
}

img {
  position: absolute;
  opacity: 0;
}
.show {
  opacity: 1;
  transition: all 1s ease-in-out;
  width: 60%;
  left: 20%;
}
